{% extends "base.html.twig" %}
{% block title %}Legal Information{% endblock %}
{% block headline %}Legal Notice{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">
            <h3>Information pursuant to § 5 TMG</h3>
            <p>TYPO3 GmbH<br> Am Wehrhahn 41<br> 40211 Düsseldorf</p>
            <p>Entry registers of commerce</p>
            <p>Register Number: HRB 77950<br> Registration Court: Amtsgericht Düsseldorf</p>
            <p>Represented by the managing directors:<br> Herr Mathias Schreiber</p>

            <hr class="content-spacer">

            <h3>Contact</h3>
            <p>Phone: +49 211 2054360<br> Telefax: +49 211 416 889 40<br> E-mail: info@typo3.com</p>

            <hr class="content-spacer">

            <h3>VAT ID</h3>
            <p>Sales tax identification number according to § 27 a of the Sales Tax Law:<br> DE 815 655 651</p>

            <hr class="content-spacer">

            <h3>Responsible for the content according to § 55(2) RStV</h3>
            <p>TYPO3 GmbH<br> Am Wehrhahn 41<br> 40211 Düsseldorf</p>

            <hr class="content-spacer">

            <h3>EU dispute resolution</h3>
            <p>The European Commission provides a platform for online dispute resolution (ODR): <a
                        href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.<br>
                Our e-mail address can be found above in the site notice.</p>
            <p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration
                board.</p>

            <h4>Liability for Contents</h4>
            <p>As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1
                German Telemedia Act (TMG). However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers
                are not obligated to permanently monitor submitted or stored information or to search for evidences that
                indicate illegal activities.</p>
            <p>Legal obligations to removing information or to blocking the use of information remain unchallenged. In this
                case, liability is only possible at the time of knowledge about a specific violation of law. Illegal
                contents will be removed immediately at the time we get knowledge of them.</p>

            <h4>Liability for Links</h4>
            <p>Our offer includes links to external third party websites. We have no influence on the contents of those
                websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites
                are always responsible for their own contents.</p>
            <p>The linked websites had been checked for possible violations of law at the time of the establishment of the
                link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents
                of linked websites cannot be imposed without reasonable indications that there has been a violation of law.
                Illegal links will be removed immediately at the time we get knowledge of them.</p>

            <h4>Copyright</h4>
            <p>Contents and compilations published on these websites by the providers are subject to German copyright laws.
                Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law
                require a written permission of the author or originator. Downloads and copies of these websites are
                permitted for private use only.<br> The commercial use of our contents without permission of the
                originator is prohibited.</p>
            <p>Copyright laws of third parties are respected as long as the contents on these websites do not originate from
                the provider. Contributions of third parties on this site are indicated as such. However, if you notice any
                violations of copyright law, please inform us. Such contents will be removed immediately.</p>
        </div>
    </div>

{% endblock %}
