{% extends "base.html.twig" %}
{% block title %}Privacy Policy{% endblock %}
{% block headline %}Privacy Policy{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">
            <section>
                <header class="frame-header">
                    <h2 class="element-header">1. An overview of data protection</h2>
                    <h3 class="element-subheader">General information</h3>
                </header>
                <p>The following information will provide you with an easy to navigate overview of what will happen
                    with your personal data when you visit our website. The term “personal data” comprises all data
                    that can be used to personally identify you. For detailed information about the subject matter
                    of data protection, please consult our Data Protection Declaration, which we have included
                    beneath this copy.</p>
            </section>

            <section>
                <header class="frame-header"><h3 class="element-subheader ">
                        <span>Data recording on our website</span></h3></header>
                <p><strong>Who is the responsible party for the recording of data on this website (i.e. the
                        “controller”)?</strong><br> The data on this website is processed by the operator of the
                    website, whose contact information is available under section “Information Required by Law” on
                    this website.</p>
                <p><strong>How do we record your data?</strong></p>
                <p>We collect your data as a result of your sharing of your data with us. This may, for instance be
                    information you enter into our contact form.<br> Our IT systems automatically record other data
                    when you visit our website. This data comprises primarily technical information (e.g. web
                    browser, operating system or time the site was accessed). This information is recorded
                    automatically when you access our website.</p>
                <p><strong>What are the purposes we use your data for?</strong><br> A portion of the information is
                    generated to guarantee the error free provision of the website. Other data may be used to
                    analyse your user patterns.</p>
                <p><strong>What rights do you have as far as your information is concerned?</strong></p>
                <p>You have the right to receive information about the source, recipients and purposes of your
                    archived personal data at any time without having to pay a fee for such disclosures. You also
                    have the right to demand that your data are rectified, blocked or eradicated. Please do not
                    hesitate to contact us at any time under the address disclosed in section “Information Required
                    by Law” on this website if you have questions about this or any other data protection related
                    issues. You also have the right to log a complaint with the competent supervising agency.</p>
                <p>Moreover, under certain circumstances, you have the right to demand the restriction of the
                    processing of your personal data. For details, please consult the Data Protection Declaration
                    under section “Right to Restriction of Data Processing.”</p>


                <header class="frame-header"><h3 class="element-subheader "><span>Analysis tools and tools provided by third parties</span>
                    </h3></header>
                <p>There is a possibility that your browsing patterns will be statistically analysed when your visit
                    our website. Such analyses are performed primarily with cookies and with what we refer to as
                    analysis programmes. As a rule, the analyses of your browsing patterns are conducted
                    anonymously; i.e. the browsing patterns cannot be traced back to you. You have the option to
                    object to such analyses or you can prevent their performance by not using certain tools. For
                    detailed information about this, please consult our Data Protection Declaration below.</p>
                <p>You do have the option to object to such analyses. We will brief you on the objection options in
                    this Data Protection Declaration.</p>
            </section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>2. General information and mandatory information</span>
                    </h2>
                    <h3 class="element-subheader "><span>Data protection</span></h3></header>
                <p>The operators of this website and its pages take the protection of your personal data very
                    seriously. Hence, we handle your personal data as confidential information and in compliance
                    with the statutory data protection regulations and this Data Protection Declaration.</p>
                <p>Whenever you use this website, a variety of personal information will be collected. Personal data
                    comprises data that can be used to personally identify you. This Data Protection Declaration
                    explains which data we collect as well as the purposes we use this data for. It also explains
                    how, and for which purpose the information is collected.</p>
                <p>We herewith advise you that the transmission of data via the Internet (i.e. through e-mail
                    communications) may be prone to security gaps. It is not possible to completely protect data
                    against third party access.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Information about the responsible party (referred to as the “controller” in the GDPR)</span>
                    </h3></header>
                <p>The data processing controller on this website is:</p>
                <p>TYPO3 GmbH<br> Am Wehrhahn 41<br> 40211 Düsseldorf</p>
                <p>Phone: +49 211 2054360<br> E-mail: info@typo3.com</p>
                <p>The controller is the natural person or legal entity that single-handedly or jointly with others
                    makes decisions as to the purposes of and resources for the processing of personal data (e.g.
                    names, e-mail addresses, etc.).</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Revocation of your consent to the processing of data</span>
                    </h3></header>
                <p>A wide range of data processing transactions are possible only subject to your express consent.
                    You can also revoke at any time any consent you have already given us. To do so, all you are
                    required to do is sent us an informal notification via e-mail. This shall be without prejudice
                    to the lawfulness of any data collection that occurred prior to your revocation.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Right to object to the collection of data in special cases; right to object to direct advertising (Art. 21 GDPR)</span>
                    </h3></header>
                <p><strong>In the event that data are processed on the basis of Art. 6 Sect. 1 lit. e or f GDPR, you
                        have the right to at any time object to the processing of your personal data based on
                        grounds arising from your unique situation. This also applies to any profiling based on
                        these provisions. To determine the legal basis, on which any processing of data is based,
                        please consult this Data Protection Declaration. If you log an objection, we will no longer
                        process your affected personal data, unless we are in a position to present compelling
                        protection worthy grounds for the processing of your data, that outweigh your interests,
                        rights and freedoms or if the purpose of the processing is the claiming, exercising or
                        defence of legal entitlements (objection pursuant to Art. 21 Sect. 1 GDPR).</strong></p>
                <p><strong>If your personal data is being processed in order to engage in direct advertising, you
                        have the right to at any time object to the processing of your affected personal data for
                        the purposes of such advertising. This also applies to profiling to the extent that it is
                        affiliated with such direct advertising. If you object, your personal data will subsequently
                        no longer be used for direct advertising purposes (objection pursuant to Art. 21 Sect. 2
                        GDPR).</strong></p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Right to log a complaint with the competent supervisory agency</span>
                    </h3></header>
                <p>In the event of violations of the GDPR, data subjects are entitled to log a complaint
                    with a supervisory agency, in particular in the member state where they usually maintain
                    their domicile, place of work or at the place where the alleged violation occurred. The
                    right to log a complaint is in effect regardless of any other administrative or court
                    proceedings available as legal resources.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Right to data portability</span>
                    </h3></header>
                <p>You have the right to demand that we hand over any data we automatically process on the basis of
                    your consent or in order to fulfil a contract be handed over to you or a third party in a
                    commonly used, machine readable format. If you should demand the direct transfer of the data to
                    another controller, this will be done only if it is technically feasible.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>SSL and/or TLS encryption</span>
                    </h3></header>
                <p>For security reasons and to protect the transmission of confidential content, such as purchase
                    orders or inquiries you submit to us as the website operator, this website uses either an SSL or
                    a TLS encryption programme. You can recognise an encrypted connection by checking whether the
                    address line of the browser switches from “http://” to “https://” and also by the appearance of
                    the lock icon in the browser line.</p>
                <p>If the SSL or TLS encryption is activated, data you transmit to us cannot be read by third
                    parties.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Information about, blockage, rectification and eradication of data</span>
                    </h3></header>
                <p>Within the scope of the applicable statutory provisions, you have the right to at any time demand
                    information about your archived personal data, their source and recipients as well as the
                    purpose of the processing of your data. You may also have a right to have your data rectified,
                    blocked or eradicated. If you have questions about this subject matter or any other questions
                    about personal data, please do not hesitate to contact us at any time at the address provided in
                    section “Information Required by Law.”</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader ">
                        <span>Right to demand processing restrictions</span>
                    </h3></header>
                <p>You have the right to demand the imposition of restrictions as far as the processing of your
                    personal data is concerned. To do so, you may contact us at any time at the address provided in
                    section “Information Required by Law.” The right to demand restriction of processing applies in
                    the following cases:</p>
                <ul class="list-normal">
                    <li><p>In the event that you should dispute the correctness of your data archived by us, we will
                            usually need some time to verify this claim. During the time that this investigation is
                            ongoing, you have the right to demand that we restrict the processing of your personal
                            data.</p></li>
                    <li><p>If the processing of your personal data was/is conducted in an unlawful manner, you have
                            the option to demand the restriction of the processing of your data in lieu of demanding
                            the eradication of this data.</p></li>
                    <li><p>If we do not need your personal data any longer and you need it to exercise, defend or
                            claim legal entitlements, you have the right to demand the restriction of the processing
                            of your personal data instead of its eradication.</p></li>
                    <li><p>If you have raised an objection pursuant to Art. 21 Sect. 1 GDPR, your rights and our
                            rights will have to be weighed against each other. As long as it has not been determined
                            whose interests prevail, you have the right to demand a restriction of the processing of
                            your personal data.</p></li>
                </ul>
                <p>If you have restricted the processing of your personal data, these data – with the exception of
                    their archiving – may be processed only subject to your consent or to claim, exercise or defend
                    legal entitlements or to protect the rights of other natural persons or legal entities or for
                    important public interest reasons cited by the European Union or a member state of the EU.</p>
            </section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Rejection of unsolicited e-mails</span>
                    </h3></header>
                <p>We herewith object to the use of contact information published in conjunction with the
                    mandatory information to be provided in section “Information Required by Law” to send us
                    promotional and information material that we have not expressly requested. The operators
                    of this website and its pages reserve the express right to take legal action in the
                    event of the unsolicited sending of promotional information, for instance via SPAM
                    messages.</p></section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>3. Data protection officer</span>
                    </h2>
                    <h3 class="element-subheader "><span>Statutory data protection officer</span></h3></header>
                <p>We have appointed a data protection officer for our company.</p>
                <p>The data protection officer of TYPO3 GmbH is provided by<br> Computer-Zauber<br> Dipl.-Ing. Karen
                    Falkenberg<br> Erlentiefenstraße 54<br> 59192 Bergkamen</p>
                <p>Telephone: +49 2307 80102<br> Email: <a href="mailto:datenschutz@computer-zauber.de"
                                                        title="Computer-Zauber">datenschutz@computer-zauber.de</a>
                </p></section>

            <section>
                <header class="frame-header"><h2 class="element-header ">
                        <span>4. Recording of data on our website</span></h2>
                    <h3 class="element-subheader "><span>Cookies</span></h3></header>
                <p>In some instances, our website and its pages use so-called cookies. Cookies do not cause any
                    damage to your computer and do not contain viruses. The purpose of cookies is to make our
                    website more user friendly, effective and more secure. Cookies are small text files that are
                    placed on your computer and stored by your browser.</p>
                <p>Most of the cookies we use are so-called “session cookies.” They are automatically deleted after
                    your leave our site. Other cookies will remain archived on your device until you delete them.
                    These cookies enable us to recognise your browser the next time you visit our website.</p>
                <p>You can adjust the settings of your browser to make sure that you are notified every time cookies
                    are placed and to enable you to accept cookies only in specific cases or to exclude the
                    acceptance of cookies for specific situations or in general and to activate the automatic
                    deletion of cookies when you close your browser. If you deactivate cookies, the functions of
                    this website may be limited.</p>
                <p>Cookies that are required for the performance of the electronic communications transaction or to
                    provide certain functions you want to use (e.g. the shopping cart function), are stored on the
                    basis of Art. 6 Sect. 1 lit. f GDPR. The website operator has a legitimate interest in storing
                    cookies to ensure the technically error free and optimised provision of the operator’s services.
                    If other cookies (e.g. cookies for the analysis of your browsing patterns) should be stored,
                    they are addressed separately in this Data Protection Declaration.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Server log files</span></h3>
                </header>
                <p>The provider of this website and its pages automatically collects and stores information in
                    so-called server log files, which your browser communicates to us automatically. The information
                    comprises:</p>
                <ul class="list-normal">
                    <li><p>The type and version of browser used</p></li>
                    <li><p>The used operating system</p></li>
                    <li><p>Referrer URL</p></li>
                    <li><p>The hostname of the accessing computer</p></li>
                    <li><p>The time of the server inquiry</p></li>
                    <li><p>The IP address</p></li>
                </ul>
                <p>This data is not merged with other data sources.</p>
                <p>This data is recorded on the basis of Art. 6 Sect. 1 lit. f GDPR. The operator of the website has
                    a legitimate interest in the technically error free depiction and the optimization of the
                    operator’s website. In order to achieve this, server log files must be recorded.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Contact form</span></h3></header>
                <p>If you submit inquiries to us via our contact form, the information provided in the contact form
                    as well as any contact information provided therein will be stored by us in order to handle your
                    inquiry and in the event that we have further questions. We will not share this information
                    without your consent.</p>
                <p>Hence, the processing of the data entered into the contact form occurs exclusively based on your
                    consent (Art. 6 Sect. 1 lit. a GDPR). You have the right to revoke at any time any consent you
                    have already given us. To do so, all you are required to do is sent us an informal notification
                    via e-mail. This shall be without prejudice to the lawfulness of any data collection that
                    occurred prior to your revocation.</p>
                <p>The information you have entered into the contact form shall remain with us until you ask us to
                    eradicate the data, revoke your consent to the archiving of data or if the purpose for which the
                    information is being archived no longer exists (e.g. after we have concluded our response to
                    your inquiry). This shall be without prejudice to any mandatory legal provisions – in particular
                    retention periods.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader ">
                        <span>The comment function on this website</span>
                    </h3></header>
                <p>When you use the comment function on this website, information on the time the comment was
                    generated and, if you are not posting anonymously, the user name you have selected will be
                    archived in addition to your comments.</p>
                <p><strong>Subscribing to comments</strong></p>
                <p>As a user of this website, you have the option to subscribe to comments after you have
                    registered. You will receive a confirmation e-mail, the purpose of which is to verify whether
                    you are the actual holder of the provided e-mail address. You can deactivate this function at
                    any time by following a respective link in the information e-mails. The data entered in
                    conjunction with subscriptions to comments will be deleted in this case. However, if you have
                    communicated this information to us for other purposes and from a different location (e.g. when
                    subscribing to the newsletter), the data shall remain in our possession.</p>
                <p><strong>Storage period for comments</strong></p>
                <p>Comments and any affiliated information (e.g. the IP address) shall be stored by us and remain on
                    our website until the content the comment pertained to has been deleted in its entirety or if
                    the comments had to be deleted for legal reasons (e.g. insulting comments).</p>
                <p><strong>Legal basis</strong></p>
                <p>Comments are stored on the basis of your consent (Art. 6 Sect. 1 lit. a GDPR). You have the right
                    to revoke at any time any consent you have already given us. To do so, all you are required to
                    do is sent us an informal notification via e-mail. This shall be without prejudice to the
                    lawfulness of any data collection that occurred prior to your revocation.</p>
                <p><strong>Request by e-mail, telephone or fax</strong></p>
                <p>If you contact us by e-mail, telephone or fax, your request, including all resulting personal
                    data (name, request) will be stored and processed by us for the purpose of processing your
                    request. We do not pass these data on without your consent. The processing of these data is
                    based on Art. 6 para. 1 lit. b GDPR, if your request is related to the execution of a contract
                    or if it is necessary to carry out pre-contractual measures. In all other cases, the processing
                    is based on your consent (Article 6 (1) a GDPR) and/or on our legitimate interests (Article 6
                    (1) (f) GDPR), since we have a legitimate interest in the effective processing of requests
                    addressed to us. The data sent by you to us via contact requests remain with us until you
                    request us to delete, revoke your consent to the storage or the purpose for the data storage
                    lapses (e.g. after completion of your request). Mandatory statutory provisions - in particular
                    statutory retention periods - remain unaffected.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Processing of data (customer and contract data)</span>
                    </h3></header>
                <p>We collect, process and use personal data only to the extent necessary for the establishment,
                    content organization or change of the legal relationship (data inventory). These actions are
                    taken on the basis of Art. 6 Sect. 1 lit. b GDPR, which permits the processing of data for the
                    fulfilment of a contract or pre-contractual actions. We collect, process and use personal data
                    concerning the use of our website (usage data) only to the extent that this is necessary to make
                    it possible for users to utilize the services and to bill for them.</p>
                <p>The collected customer data shall be eradicated upon completion of the order or the termination
                    of the business relationship. This shall be without prejudice to any statutory retention
                    mandates.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Data transfer upon closing of contracts for services and digital content</span>
                    </h3></header>
                <p>We share personal data with third parties only if this is necessary in conjunction with the
                    handling of the contract; for instance, with the financial institution tasked with the
                    processing of payments.</p>
                <p>Any further transfer of data shall not occur or shall only occur if you have expressly consented
                    to the transfer. Any sharing of your data with third parties in the absence of your express
                    consent, for instance for advertising purposes, shall not occur.</p>
                <p>The basis for the processing of data is Art. 6 Sect. 1 lit. b GDPR, which permits the processing
                    of data for the fulfilment of a contract or for pre-contractual actions.</p></section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>5. Social media</span></h2>
                    <h3 class="element-subheader "><span>Facebook plug-ins (Like &amp; Share button)</span></h3>
                </header>
                <p>We have integrated plug-ins of the social network Facebook, provided by Facebook Inc., 1 Hacker
                    Way, Menlo Park, California 94025, USA, on our website. You will be able to recognise Facebook
                    plug-ins by the Facebook logo or the "Like" button on our website. An overview of the Facebook
                    plug-ins is available under the following link: <a
                            href="https://developers.facebook.com/docs/plugins/"
                            title="Overview of the Facebook plug-ins" target="_blank">https://developers.facebook.com/docs/plugins/</a>.
                </p>
                <p>Whenever you visit our website and its pages, the plug-in will establish a direct connection
                    between your browser and the Facebook server. As a result, Facebook will receive the information
                    that you have visited our website with your plug-in. However, if you click the Facebook “Like”
                    button while you are logged into your Facebook account, you can link the content of our website
                    and its pages with your Facebook profile. As a result, Facebook will be able to allocate the
                    visit to our website and its pages to your Facebook user account. We have to point out, that we
                    as the provider of the website do not have any knowledge of the transferred data and its use by
                    Facebook. For more detailed information, please consult the Data Privacy Declaration of Facebook
                    at: <a href="https://www.facebook.com/privacy/explanation"
                        title="Data Privacy Declaration of Facebook" target="_blank">https://www.facebook.com/privacy/explanation</a>.
                </p>
                <p>If you do not want Facebook to be able to allocate your visit to our website and its pages to
                    your Facebook user account, please log out of your Facebook account while you are on our
                    website.</p>
                <p>The use of the Facebook plug-in is based on Art. 6 Sect. 1 lit. f GDPR. The operator of the
                    website has a legitimate interest in being as visible as possible on social media.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Twitter plug-in</span></h3>
                </header>
                <p>We have integrated functions of the social media platform Twitter into our website. These
                    functions are provided by Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103,
                    USA. While you use Twitter and the "Re-Tweet" function, websites you visit are linked to your
                    Twitter account and disclosed to other users. During this process, data are transferred to
                    Twitter as well. We must point out, that we, the providers of the website and its pages do not
                    know anything about the content of the data transferred and the use of this information by
                    Twitter. For more details, please consult Twitter’s Data Privacy Declaration at: <a
                            href="https://twitter.com/en/privacy" title="Twitter’s Data Privacy Declaration"
                            target="_blank">https://twitter.com/en/privacy</a>.</p>
                <p>The use of Twitter plug-ins is based on Art. 6 Sect. 1 lit. f GDPR. The operator of the website
                    has a legitimate interest in being as visible as possible on social media.</p>
                <p>You have the option to reset your data protection settings on Twitter under the account settings
                    at <a href="https://twitter.com/account/settings" title=" Twitter account settings"
                        target="_blank">https://twitter.com/account/settings</a>.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>LinkedIn plug-in</span></h3>
                </header>
                <p>Our website uses functions of the LinkedIn network. The provider is LinkedIn Corporation, 2029
                    Stierlin Court, Mountain View, CA 94043, USA.</p>
                <p>Any time you access one of our sites that contains functions of LinkedIn, a connection to
                    LinkedIn’s servers is established. LinkedIn is notified that you have visited our websites with
                    your IP address. If you click on LinkedIn’s "Recommend" button and are logged into your LinkedIn
                    account at the time, LinkedIn will be in a position to allocate your visit to our website to
                    your user account. We have to point out that we as the provider of the websites do not have any
                    knowledge of the content of the transferred data and its use by LinkedIn.</p>
                <p>The use of the LinkedIn plug-in is based on Art. 6 Sect. 1 lit. f GDPR. The operator of the
                    website has a legitimate interest in being as visible as possible on social media.</p>
                <p>For further information on this subject, please consult LinkedIn’s Data Privacy Declaration at:
                    <a href="https://www.linkedin.com/legal/privacy-policy"
                    title=" LinkedIn’s Data Privacy Declaration" target="_blank">https://www.linkedin.com/legal/privacy-policy</a>.
                </p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>XING plug-in</span></h3></header>
                <p>Our website uses functions of the XING network. The provider is the XING AG, Dammtorstraße 29-32,
                    20354 Hamburg, Germany.</p>
                <p>Any time one of our sites/pages that contains functions of XING is accessed, a connection with
                    XING’s servers is established. As far as we know, this does not result in the archiving of any
                    personal data. In particular, the service does not store any IP addresses or analyse user
                    patterns.</p>
                <p>The use of the XING plug-in is based on Art. 6 Sect. 1 lit. f GDPR. The operator of the website
                    has a legitimate interest in being as visible as possible on social media.</p>
                <p>For more information on data protection and the XING share button please consult the Data
                    Protection Declaration of Xing at: <a href="https://www.xing.com/app/share?op=data_protection"
                                                        title="Data Protection Declaration of XING"
                                                        target="_blank">https://www.xing.com/app/share?op=data_protection</a>.
                </p></section>

            <section>
                <header class="frame-header"><h2 class="element-header ">
                        <span>6. Analysis tools and advertising</span></h2>
                    <h3 class="element-subheader "><span>Google Analytics</span></h3></header>
                <p>This website uses functions of the web analysis service Google Analytics. The provider of this
                    service is Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
                <p>Google Analytics uses so-called cookies. Cookies are text files, which are stored on your
                    computer and that enable an analysis of the use of the website by users. The information
                    generated by cookies on your use of this website is usually transferred to a Google server in
                    the United States, where it is stored.</p>
                <p>The storage of Google Analytics cookies and the utilization of this analysis tool are based on
                    Art. 6 Sect. 1 lit. f GDPR. The operator of this website has a legitimate interest in the
                    analysis of user patterns to optimize both, the services offered online and the operator’s
                    advertising activities.</p>
                <p><strong>IP anonymization</strong></p>
                <p>On this website, we have activated the IP anonymization function. As a result, your IP address
                    will be abbreviated by Google within the member states of the European Union or in other states
                    that have ratified the Convention on the European Economic Area prior to its transmission to the
                    United States. The full IP address will be transmitted to one of Google’s servers in the United
                    States and abbreviated there only in exceptional cases. On behalf of the operator of this
                    website, Google shall use this information to analyse your use of this website to generate
                    reports on website activities and to render other services to the operator of this website that
                    are related to the use of the website and the Internet. The IP address transmitted in
                    conjunction with Google Analytics from your browser shall not be merged with other data in
                    Google’s possession.</p>
                <p><strong>Browser plug-in</strong></p>
                <p>You do have the option to prevent the archiving of cookies by making pertinent changes to the
                    settings of your browser software. However, we have to point out that in this case you may not
                    be able to use all of the functions of this website to their fullest extent. Moreover, you have
                    the option prevent the recording of the data generated by the cookie and affiliated with your
                    use of the website (including your IP address) by Google as well as the processing of this data
                    by Google by downloading and installing the browser plug-in available under the following link:
                    <a href="https://tools.google.com/dlpage/gaoptout?hl=en" title="Browser plug-in from Google"
                    target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a>.</p>
                <p><strong>Objection to the recording of data</strong></p>
                <p>You have the option to prevent the recording of your data by Google Analytics by clicking on the
                    following link. This will result in the placement of an opt out cookie, which prevents the
                    recording of your data during future visits to this website: </p>
                <p><a class="btn btn-default"
                    href="javascript:gaOptout();alert('You are successfully opt-out from the Google Analytics measurement');">Disable
                        Google Analytics</a></p>
                <p>For more information about the handling of user data by Google Analytics, please consult Google’s
                    Data Privacy Declaration at: <a href="https://support.google.com/analytics/answer/6004245?hl=de"
                                                    title="Google’s Data Privacy Declaration" target="_blank">https://support.google.com/analytics/answer/6004245?hl=en</a>.
                </p>
                <p><strong>Contract data processing</strong></p>
                <p>We have executed a contract data processing agreement with Google and are implementing the
                    stringent provisions of the German data protection agencies to the fullest when using Google
                    Analytics.</p>
                <p><strong>Demographic parameters provided by Google Analytics</strong></p>
                <p>This website uses the function “demographic parameters” provided by Google Analytics. It makes it
                    possible to generate reports providing information on the age, gender and interests of website
                    visitors. The sources of this information are interest-related advertising by Google as well as
                    visitor data obtained from third party providers. This data cannot be allocated to a specific
                    individual. You have the option to deactivate this function at any time by making pertinent
                    settings changes for advertising in your Google account or you can generally prohibit the
                    recording of your data by Google Analytics as explained in section “Objection to the recording
                    of data.”</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Google AdSense</span></h3>
                </header>
                <p>This website uses Google AdSense, a service for the integration of ads offered by Google
                    Inc. ("Google"). The provider of this service is Google Inc., 1600 Amphitheatre Parkway,
                    Mountain View, CA 94043, USA.</p>
                <p>Google AdSense uses so-called "cookies"; i.e. text files that are stored on your computer
                    and that make it possible to analyse your use of this website. Google AdSense also uses
                    so-called Web Beacons (invisible graphics). These Web Beacons can be used to analyse
                    information, such as visitor traffic data, on this website.</p>
                <p>The information generated by the cookies and the Web Beacons concerning the use of this
                    website (including your IP address) and the delivery of advertising formats are
                    transferred to a Google server in the United States, where they are archived. Google may
                    share this information with Google contracting partners. Google shall, however, not
                    merge your IP address with any other of your data stored by Google.</p>
                <p>The storage of the AdSense cookies is based on Art. 6 Sect. 1 lit. f GDPR. The website
                    operator has a legitimate interest in the analysis of user patterns, in order to
                    optimize the operator’s web offerings and advertising.</p>
                <p>You can prevent the installation of these cookies by making a pertinent adjustment to
                    your browser software settings; however, we have to point out that in this case you may
                    not be able to use all of the functions of this website to their fullest extent. By
                    using this website, you declare your consent to the processing of the data we collect
                    about you by Google in the manner described above and agree to the aforementioned
                    purpose of use.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader ">
                        <span>Google Analytics Remarketing</span></h3></header>
                <p>Our websites use the functions of Google Analytics Remarketing in combination with the functions
                    of Google AdWords and Google DoubleClick, which work on all devices. The provider of these
                    solutions is Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
                <p>This function makes it possible to connect the advertising target groups generated with Google
                    Analytics Remarketing with the functions of Google AdWords and Google DoubleClick, which work on
                    all devices. This makes it possible to display interest-based customized advertising messages,
                    depending on your prior usage and browsing patterns on a device (e.g. cell phone) in a manner
                    tailored to you as well as on any of your devices (e.g. tablet or PC).</p>
                <p>If you have given us pertinent consent, Google will connect your web and app browser progressions
                    with your Google account for this purpose. As a result, it is possible to display the same
                    personalized advertising messages on every device you log into with your Google account.</p>
                <p>To support this function, Google Analytics records Google authenticated IDs of users that are
                    temporarily connected with our Google Analytics data to define and compile the target groups for
                    the ads to be displayed on all devices.</p>
                <p>You have the option to permanently object to remarketing / targeting across all devices by
                    deactivating personalized advertising in your Google account. To do this, please follow this
                    link: <a href="https://www.google.com/settings/ads/onweb/"
                            title="Deactivate personal ads in Google account settings" target="_blank">https://www.google.com/settings/ads/onweb/</a>.
                </p>
                <p>The consolidation of the recorded data in your Google account shall occur exclusively based on
                    your consent, which you may give to Google and also revoke there (Art. 6 Sect. 1 lit. a GDPR).
                    Data recording processes that are not consolidated in your Google account (for instance because
                    you do not have a Google account or have objected to the consolidation of data), the recording
                    of data is based on Art. 6 Sect. 1 lit. f GDPR. The legitimate interest arises from the fact
                    that the operator of the website has a legitimate interest in the anonymized analysis of website
                    visitor for advertising purposes.</p>
                <p>For further information and the pertinent data protection regulations, please consult the Data
                    Privacy Policies of Google at: <a href="https://policies.google.com/technologies/ads?hl=en"
                                                    title="Data Privacy Policies of Google" target="_blank">https://policies.google.com/technologies/ads?hl=en</a>.
                </p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Google AdWords and Google Conversion Tracking</span>
                    </h3></header>
                <p>This website uses Google AdWords. AdWords is an online promotional program of Google Inc., 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, United States (“Google”).</p>
                <p>In conjunction with Google AdWords, we use a tool called Conversion Tracking. If you click on an
                    ad posted by Google, a cookie for Conversion Tracking purposes will be placed. Cookies are small
                    text files the web browser places on the user’s computer. These cookies expire after 30 days and
                    are not used to personally identify users. If the user visits certain pages of this website and
                    the cookie has not yet expired, Google and we will be able to recognise that the user has
                    clicked on an ad and has been linked to this page.</p>
                <p>A different cookie is allocated to every Google AdWords customer. These cookies cannot be tracked
                    via websites of AdWords customers. The information obtained with the assistance of the
                    Conversion cookie is used to generate Conversion statistics for AdWords customers who have opted
                    to use Conversion Tracking. The users receive the total number of users that have clicked on
                    their ads and have been linked to a page equipped with a Conversion Tracking tag. However, they
                    do not receive any information that would allow them to personally identify these users. If you
                    do not want to participate in tracking, you have the option to object to this use by easily
                    deactivating the Google Conversion Tracking cookie via your web browser under user settings. If
                    you do this, you will not be included in the Conversion Tracking statistics.</p>
                <p>The storage of “Conversion” cookies and the use of this tracking tool are based on Art. 6 Sect. 1
                    lit. f GDPR. The website operator has a legitimate interest in the analysis of user patterns, in
                    order to optimize the operator’s web offerings and advertising.</p>
                <p>To review more detailed information about Google AdWords and Google Conversion Tracking, please
                    consult the Data Privacy Policies of Google at: <a
                            href="https://policies.google.com/privacy?hl=en" title="Data Privacy Policies of Google"
                            target="_blank">https://policies.google.com/privacy?hl=en</a>.</p>
                <p>You can set up your browser in such a manner that you will be notified anytime cookies are placed
                    and you can permit cookies only in certain cases or exclude the acceptance of cookies in certain
                    instances or in general and you can also activate the automatic deletion of cookies upon closing
                    of the browser. If you deactivate cookies, the functions of this website may be limited.</p>
            </section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>7. Newsletter</span></h2>
                    <h3 class="element-subheader "><span>Newsletter data</span></h3></header>
                <p>If you would like to subscribe to the newsletter offered on this website, we will need from you
                    an e-mail address as well as information that allow us to verify that you are the owner of the
                    e-mail address provided and consent to the receipt of the newsletter. No further data shall be
                    collected or shall be collected only on a voluntary basis. We shall use such data only for the
                    sending of the requested information and shall not share such data with any third parties.</p>
                <p>The processing of the information entered into the newsletter subscription form shall occur
                    exclusively on the basis of your consent (Art. 6 Sect. 1 lit. a GDPR). You may revoke the
                    consent you have given to the archiving of data, the e-mail address and the use of this
                    information for the sending of the newsletter at any time, for instance by clicking on the
                    "Unsubscribe" link in the newsletter. This shall be without prejudice to the lawfulness of any
                    data processing transactions that have taken place to date.</p>
                <p>The data you archive with us for the purpose of the newsletter subscription shall be archived by
                    us until you unsubscribe from the newsletter. Once you cancel your subscription to the
                    newsletter, the data shall be deleted. This shall not affect data we have been archiving for
                    other purposes.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Use of HubSpot</span></h3>
                </header>
                <p>TYPO3 GmbH uses HubSpot for online marketing activities and website analysis purposes. <a
                            href="https://www.hubspot.de/" title="HubSpot" target="_blank">HubSpot</a> is an
                    integrated software solution that covers various online marketing concepts.</p>
                <p><strong>These include:</strong></p>
                <ul class="list-normal">
                    <li><p>Content management (website and blog)</p></li>
                    <li><p>E-Mail marketing (newsletter as well as automated mailings, e.g. for the
                            provision of downloads)</p></li>
                    <li><p>Social media publishing &amp; reporting</p></li>
                    <li><p>Reporting (e.g. traffic sources, accesses, etc. ...)</p></li>
                    <li><p>contact management (e.g. user segmentation &amp; CRM)</p></li>
                    <li><p>Landing pages and contact forms</p></li>
                </ul>
                <p>The registration service allows visitors to find out more about the content management
                    system TYPO3, appropriate content is provided and offered for download. The contact
                    information of the prospective customer or the TYPO3 Association member as well as
                    demographic information will be provided.</p>
                <p>The CRM HubSpot is located on the servers of our software partner <a
                            href="https://www.hubspot.de/" title="HubSpot" target="_blank">HubSpot</a>,
                    which is certified under the <a href="https://www.privacyshield.gov/list"
                                                    title="EU-US Privacy Shield" target="_blank">EU-US
                        Privacy Shield</a>. It is also subject to the TRUSTe's Privacy Seal and the US -
                    Swiss Safe Harbor Framework.</p>
                <p>The website user data will be stored on the servers and will be used by us to connect
                    with visitors to our website and to determine which services our company is interested
                    in. This ensures that the website receives more accurate information for users.</p>
                <p>The purpose of the collected data is the optimization of our offer. The corresponding
                    legal basis is based on Article 6 Sect. 1 lit. f GDPR (legitimate interest). <strong>The
                        data collected is subject to our privacy policy.</strong></p>
                <p><strong>HubSpot cookies</strong></p>
                <p>HubSpot CRM uses web beacons and cookies that are stored on your computer to allow us to
                    analyze your use of the website. The collected information (such as part of the IP
                    address, geographic location, type of browser, time and duration of the visit, and pages
                    viewed) is evaluated by the CRM. With this information we can generate a report about
                    the visit.</p>
                <p>However, you have the option to set your browser to notify you when you receive a cookie.
                    Then you can decide for yourself whether you accept it or not.</p>
                <p>Firefox (Windows): → Tools → Settings → Privacy → Create History for Custom Settings</p>
                <p>Firefox (Linux): → Edit → Settings → Privacy → Create history according to user-defined
                    settings</p>
                <p>Internet Explorer: → Tools → Internet Options → Privacy → Advanced</p>
                <p>For detailed information about how Hubspot works, refer to Hubspot Inc.'s Privacy Policy
                    at:
                    <a href="http://legal.hubspot.com/privacy-policy"
                    title="Hubspot Inc.'s Privacy Policy" target="_blank">http://legal.hubspot.com/privacy-policy</a>
                </p>
                <p>The software company HubSpot is based in the US, with a branch in Ireland.</p>
                <p>HubSpot<br> 2nd Floor 30 North Wall Quay<br> Dublin 1, Ireland,<br> Phone: +353 1
                    5187500.</p>
                <p>•
                    <a href="https://legal.hubspot.com/privacy-policy"
                    title="HubSpot Privacy Policy" target="_blank">HubSpot Privacy Policy »</a></p>
                <p>•
                    <a href="https://legal.hubspot.com/data-privacy"
                    title="EU Privacy Policy HubSpot" target="_blank">EU Privacy Policy HubSpot »</a></p>
                <p>&nbsp;</p></section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>8. Plug-ins and Tools</span></h2>
                    <h3 class="element-subheader "><span>YouTube with expanded data protection integration</span>
                    </h3></header>
                <p>Our website uses plug-ins of the YouTube platform, which is being operated by YouTube, LLC, 901
                    Cherry Ave., San Bruno, CA 94066, USA.</p>
                <p>We use YouTube in the expanded data protection mode. According to YouTube, this mode ensures that
                    YouTube does not store any information about visitors to this website before they watch the
                    video. Nevertheless, this does not necessarily mean that the sharing of data with YouTube
                    partners can be ruled out as a result of the expanded data protection mode. For instance,
                    regardless of whether you are watching a video, YouTube will always establish a connection with
                    the Google DoubleClick network.</p>
                <p>As soon as you start to play a YouTube video on our website, a connection to YouTube’s servers
                    will be established. As a result, the YouTube server will be notified, which of our pages you
                    have visited. If you are logged into your YouTube account while you visit our site, you enable
                    YouTube to directly allocate your browsing patterns to your personal profile. You have the
                    option to prevent this by logging out of your YouTube account.</p>
                <p>Furthermore, after you have started to play a video, YouTube will be able to place various
                    cookies on your device. With the assistance of these cookies, YouTube will be able to obtain
                    information about our website visitor. Among other things, this information will be used to
                    generate video statistics with the aim of improving the user friendliness of the site and to
                    prevent attempts to commit fraud. These cookies will stay on your device until you delete
                    them.</p>
                <p>Under certain circumstances, additional data processing transactions may be triggered after you
                    have started to play a YouTube video, which are beyond our control.</p>
                <p>The use of YouTube is based on our interest in presenting our online content in an appealing
                    manner. Pursuant to Art. 6 Sect. 1 lit. f GDPR, this is a legitimate interest.</p>
                <p>For more information on how YouTube handles user data, please consult the YouTube Data Privacy
                    Policy under: <a href="https://policies.google.com/privacy?hl=en"
                                    title="YouTube Data Privacy Policy" target="_blank">https://policies.google.com/privacy?hl=en</a>.
                </p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader ">
                        <span>Google Web Fonts (local embedding)</span></h3></header>
                <p>This website uses so-called Web Fonts provided by Google to ensure the uniform use of fonts on
                    this site. These Google fonts are locally installed so that a connection to Google’s servers
                    will not be established in conjunction with this application.</p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Google Maps</span></h3></header>
                <p>Via an API, this website uses the mapping service Google Maps. The provider is Google Inc., 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
                <p>To enable the use of the Google Maps features, your IP address must be stored. As a rule, this
                    information is transferred to one of Google’s servers in the United States, where it is
                    archived. The operator of this website has no control over the data transfer.</p>
                <p>We use Google Maps to present our online content in an appealing manner and to make the locations
                    disclosed on our website easy to find. This constitutes a legitimate interest as defined in Art.
                    6 Sect. 1 lit. f GDPR.</p>
                <p>For more information on the handling of user data, please review Google’s Data Privacy
                    Declaration under: <a href="https://policies.google.com/privacy?hl=en"
                                        title="Google’s Data Privacy Declaration" target="_blank">https://policies.google.com/privacy?hl=en</a>.
                </p></section>

            <section>
                <header class="frame-header"><h3 class="element-subheader "><span>Google reCAPTCHA</span></h3>
                </header>
                <p>We use “Google reCAPTCHA” (hereinafter referred to as “reCAPTCHA”) on our websites. The provider
                    is Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA (“Google”).</p>
                <p>The purpose of reCAPTCHA is to determine whether data entered on our websites (e.g. information
                    entered into a contact form) is being provided by a human user or by an automated program. To
                    determine this, reCAPTCHA analyses the behaviour of the website visitors based on a variety of
                    parameters. This analysis is triggered automatically as soon as the website visitor enters the
                    site. For this analysis, reCAPTCHA evaluates a variety of data (e.g. IP address, time the
                    website visitor spent on the site or cursor movements initiated by the user). The data tracked
                    during such analyses are forwarded to Google.</p>
                <p>reCAPTCHA analyses run entirely in the background. Website visitors are not alerted that an
                    analysis is underway.</p>
                <p>The data is processed on the basis of Art. 6 Sect. 1 lit. f GDPR. It is in the website operators
                    legitimate interest, to protect the operator’s web content against misuse by automated
                    industrial espionage systems and against SPAM.</p>
                <p>For more information about Google reCAPTCHA and to review the Data Privacy Declaration of Google,
                    please follow these links: <a href="https://policies.google.com/privacy?hl=en"
                                                title="Data Privacy Declaration of Google" target="_blank">https://policies.google.com/privacy?hl=en</a>
                    and <a href="https://www.google.com/recaptcha/intro/android.html" title="Google reCAPTCHA"
                        target="_blank">https://www.google.com/recaptcha/intro/android.html</a>.</p></section>

            <section>
                <header class="frame-header"><h2 class="element-header ">
                        <span>Retrieval of profile pictures from Gravatar</span>
                    </h2></header>
                <p>We use in our online offer, for example in the internal area of <a
                            href="http://typo3.org" title="TYPO3 Association" target="_blank">typo3.org</a>,
                    the service Gravatar of</p>
                <p>Autolanguic Inc.,<br> 60 29th Street #343,<br> San Francisco, CA 94110, USA.</p>
                <p>Gravatar is a service where users can log in and store profile images and their email
                    addresses. If users with the respective email address on other online presences
                    (especially in blogs) leave contributions or comments, so their profile pictures can be
                    displayed next to the posts or comments. For this purpose, the email address provided by
                    the users is sent to Gravatar to check whether a profile is stored to it. This is the
                    only purpose of transmitting the email address and it is not used for other purposes but
                    deleted thereafter.</p>
                <p>The use of Gravatar is based on our legitimate interests in the sense of art. <a
                            href="https://dejure.org/gesetze/DSGVO/6.html" title="Artikel 6 DSGVO"
                            target="_blank">6</a> Abs. 1 lit. f) DSGVO, since with the help of Gravatar we
                    offer the contribution and comment writers the possibility to personalize their
                    contributions with a profile picture.</p>
                <p>By displaying the images Gravatar brings the IP address of the users in experience, as
                    this is necessary for a communication between a browser and an online service. Further
                    information on the collection and use of the data by Gravatar can be found in the
                    privacy policy of Automattic Inc.: <a href="https://automattic.com/privacy/"
                                                        title="Privacy Policy of Automattic Inc"
                                                        target="_blank">https://automattic.com/privacy/</a>.
                </p>
                <p>If users do not want a user image linked to their email address at Gravatar in the
                    internal TYPO3 area appears, you should for the internal TYPO3 area use an email address
                    that is not stored at Gravatar. We also point out that it is possible to use an
                    anonymous email address if users do not wish their own email address to be sent to
                    Gravatar. Users can completely prevent the transfer of data by not using our internal
                    service area.</p></section>

            <section>
                <header class="frame-header"><h2 class="element-header "><span>Legal Notice</span></h2></header>
                <h3>Information pursuant to § 5 TMG</h3>
                <p>TYPO3 GmbH<br> Am Wehrhahn 41<br> 40211 Düsseldorf</p>
                <p>Entry registers of commerce</p>
                <p>Register Number: HRB 77950<br> Registration Court: Amtsgericht Düsseldorf</p>
                <p>Represented by the managing directors:<br> Herr Mathias Schreiber</p>
                <h3>Contact</h3>
                <p>Phone: +49 211 2054360<br> Telefax: +49 211 416 889 40<br> E-mail: info@typo3.com</p>
                <h3>VAT ID</h3>
                <p>Sales tax identification number according to § 27 a of the Sales Tax Law:<br> DE 815 655 651</p>
                <h3>Responsible for the content according to § 55(2) RStV</h3>
                <p>TYPO3 GmbH<br> Am Wehrhahn 41<br> 40211 Düsseldorf</p>
                <h3>EU dispute resolution</h3>
                <p>The European Commission provides a platform for online dispute resolution (ODR): <a
                            href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.<br>
                    Our e-mail address can be found above in the site notice.</p>
                <p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer
                    arbitration board.</p><h4>Liability for Contents</h4>
                <p>As service providers, we are liable for own contents of these websites according to Sec. 7,
                    paragraph 1 German Telemedia Act (TMG). However, according to Sec. 8 to 10 German Telemedia Act
                    (TMG), service providers are not obligated to permanently monitor submitted or stored
                    information or to search for evidences that indicate illegal activities.</p>
                <p>Legal obligations to removing information or to blocking the use of information remain
                    unchallenged. In this case, liability is only possible at the time of knowledge about a specific
                    violation of law. Illegal contents will be removed immediately at the time we get knowledge of
                    them.</p><h4>Liability for Links</h4>
                <p>Our offer includes links to external third party websites. We have no influence on the contents
                    of those websites, therefore we cannot guarantee for those contents. Providers or administrators
                    of linked websites are always responsible for their own contents.</p>
                <p>The linked websites had been checked for possible violations of law at the time of the
                    establishment of the link. Illegal contents were not detected at the time of the linking. A
                    permanent monitoring of the contents of linked websites cannot be imposed without reasonable
                    indications that there has been a violation of law. Illegal links will be removed immediately at
                    the time we get knowledge of them.</p><h4>Copyright</h4>
                <p>Contents and compilations published on these websites by the providers are subject to German
                    copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the
                    scope of the copyright law require a written permission of the author or originator. Downloads
                    and copies of these websites are permitted for private use only.<br> The commercial use of our
                    contents without permission of the originator is prohibited.</p>
                <p>Copyright laws of third parties are respected as long as the contents on these websites do not
                    originate from the provider. Contributions of third parties on this site are indicated as such.
                    However, if you notice any violations of copyright law, please inform us. Such contents will be
                    removed immediately.</p></section>
        </div>
    </div>

{% endblock %}
