.idea

bin/
!bin/console
!bin/splitsh-lite-darwin
!bin/splitsh-lite-linux

# JIRA plugin
atlassian-ide-plugin.xml

###> symfony/framework-bundle ###
.env.local
/.env.*.local
/public/bundles/
/public/.htaccess
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/docs-build-information/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.ddev/keycloak-gatekeeper.conf
/auth.json
/build/.phpunit.result.cache
.phpunit.result.cache

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/build/docker-compose.yml
/build/jobfile.json
