{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" id="redirectformaction">
        <span class="btn-icon"><i class="fa fa-save"></i></span>
        <span class="btn-text">{{ button_label|default('Save') }}</span>
    </button>
{{ form_end(form) }}
