{% extends 'layout.html.twig' %}
{% block title %}Documentation deployments{% endblock %}
{% block headline %}Deployed documentation{% endblock %}
{% block body %}

    {% frame %}
        <h2>
            Add Deployed documentation projects
        </h2>
        <div class="card">
            <div class="card-body">
                {{ include('docs_deployments/_form.html.twig') }}
            </div>
        </div>
    {% endframe %}

{% endblock %}
