{% extends 'layout.html.twig' %}
{% block title %}Discord Webhooks{% endblock %}
{% block headline %}Discord Webhooks{% endblock %}
{% block body %}

    {% frame %}
        <h2>
            {% if edit is defined %}
                Edit a Discord message
            {% else %}
                Add a Discord message
            {% endif %}
        </h2>
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    {% endframe %}

{% endblock %}
