{% extends 'base.html.twig' %}

{% set active = 'home' %}

{% block title %}Home{% endblock %}

{% block headline %}
    <h1>Intercept web admin interface</h1>
{% endblock %}

{% block content %}
    <p>Allows triggering various intercept middleware functionality via forms and shows some stats and logs.</p>
{% endblock %}
