<hr />
<form method="post" action="{{ path('admin_redirect_delete', {'id': redirect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ redirect.id) }}">
    <div class="text-right">
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
    </div>
</form>
