{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-right">
        <button class="btn btn-primary" id="redirectformaction"><i class="fa fa-floppy-o"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
