{% extends 'layout.html.twig' %}
{% import 'macros/macros.html.twig' as macros %}
{% block title %}Edit Redirect{% endblock %}
{% block headline %}Edit Redirect{% endblock %}
{% block body %}

    {% frame %}
        <div class="card">
            <div class="card-body">
                {{ include('redirect/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
        <div class="row mt-4 justify-content-between">
            <div class="col-auto">
                {{
                    macros.linkbutton(
                        path('admin_redirect_index'),
                        'back to list',
                        'outline-secondary',
                        'arrow-left'
                    )
                }}
            </div>
            <div class="col-auto">
                {{ include('redirect/_delete_form.html.twig') }}
            </div>
        </div>
    {% endframe %}

{% endblock %}
