{% extends 'base.html.twig' %}
{% block title %}Create new Redirect{% endblock %}
{% block headline %}Create new Redirect{% endblock %}
{% block body %}

    <div class="content-section">
        <div class="container">

            {{ include('redirect/_form.html.twig') }}
            <a href="{{ path('admin_redirect_index') }}" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> back to list</a>

        </div>
    </div>

{% endblock %}
