{% extends 'base.html.twig' %}

{% set active = 'redirects' %}

{% block title %}Create new Redirect{% endblock %}

{% block headline %}
    <h1>Create new Redirect</h1>
{% endblock %}

{% block content %}
    {{ include('redirect/_form.html.twig') }}

    <a href="{{ path('redirect_index') }}" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> back to list</a>
{% endblock %}
