<strong>Name</strong>
<p>This is the name of this webhook entity, and is just for reference. This should be a distinguishable name.</p>

<strong>Channel</strong>
<p>This is the Discord channel the webhook should post it. If present, the category of a channel is listed after the name, between brackets.</p>

<strong>Type</strong>
<p>This is the type of service you wish to connect to Discord.</p>

<div id="log_level_info_text">
    <strong>Loglevel</strong>
    <p>This is only relevant for the custom error handler type. This is the minimum log level a message must have in order to be passed on to Discord.</p>
</div>

<strong>Username</strong>
<p>This will be the username the bot uses when this webhook is triggerd.</p>

<strong>Avatar Url</strong>
<p>This field can contain a link to an image (png, jpg or jpeg) that will then be used as avatar by the bot. However, this is not mandatory.</p>