client-id: intercept-typo3-com
client-secret: Something
discovery-url: https://login.typo3.com/auth/realms/TYPO3
enable-default-deny: true
enable-refresh-tokens: true
encryption-key: 4uk7syOdJxzNSzeASHpXAJ4HjDtu1lam
listen: :3007
redirection-url: https://intercept.ddev.site
upstream-url: http://web:4717
resources:
- uri: /
  white-listed: true
- uri: /bundles/*
  white-listed: true
- uri: /build/*
  white-listed: true
- uri: /admin
  white-listed: true
- uri: /admin/docs/deployments
  white-listed: true
- uri: /admin/bamboo/core
  white-listed: true
- uri: /admin/split/core
  white-listed: true
- uri: /assets/docs/manuals.json
  white-listed: true
- uri: /assets/docs/extensions.js
  white-listed: true
- uri: /assets/docs/manuals.json
  white-listed: true
- uri: /bamboo
  white-listed: true
- uri: /bitbucketToPackagist
  white-listed: true
- uri: /docs
  white-listed: true
- uri: /gerrit
  white-listed: true
- uri: /githubpr
  white-listed: true
- uri: /github/*
  white-listed: true
- uri: /redirect/dynamic
  white-listed: true
- uri: /redirect/static
  white-listed: true
- uri: /split
  white-listed: true
- uri: /discord/hook/*
  white-listed: true
- uri: /create-rst-issue
  white-listed: true
