name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - '7.4'

    steps:
      - uses: actions/checkout@v1

      - uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: pcov

      - name: php --version
        run: php --version

      - name: composer --version
        run: composer --version

      - name: (COMPOSER) Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction
        env:
          COMPOSER_AUTH: '{
              "http-basic": {
                "repo.packagist.com": {
                  "username": "token",
                  "password": "${{ secrets.PACKAGIST_AUTH_TOKEN }}"
                }
              },
              "github-oauth": {
                "github.com": "${{ secrets.ACTIONS_TOKEN }}"
              }
            }'

      - name: (CGL) PHP
        run: composer t3g:cgl

      - name: PHP Stan
        run: composer t3g:phpstan

      - name: Yarn install
        run: yarn install --silent

      - name: Yarn build
        run: yarn build

      - name: (TEST) Run all tests with coverage
        run: composer t3g:test:php:cover
        env:
          COMPOSER_PROCESS_TIMEOUT: 2400

      - name: Upload coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require twinh/php-coveralls --no-progress --no-suggest --no-interaction
          /home/runner/.composer/vendor/bin/php-coveralls --coverage_clover=var/phpunit/coverage.xml -vvv --json_path=var/log/coveralls-upload.json


  deployment:
    name: 'Deployment'
    needs: build
    if: (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop') && github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Setup SSH Key
        env:
          SSH_AUTH_SOCK: /tmp/ssh-auth.sock
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/deploy_rsa
          chmod 0600 ~/.ssh/deploy_rsa
          ssh-keygen -p -P "${{ secrets.SSH_PASSPHRASE }}" -N "" -f ~/.ssh/deploy_rsa
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add ~/.ssh/deploy_rsa
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
      - name: Install Magallanes
        run: |
          composer global require "andres-montanez/magallanes" --no-progress
          /home/runner/.composer/vendor/bin/mage version
          mkdir -p ./.mage/logs
      - name: Get Environment
        id: environment
        run: |
          echo ::set-output name=target::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//-/g')
      - name: Deployment
        env:
          SSH_AUTH_SOCK: /tmp/ssh-auth.sock
          COMPOSER_AUTH: '{
              "http-basic": {
                "repo.packagist.com": {
                  "username": "token",
                  "password": "${{ secrets.PACKAGIST_AUTH_TOKEN }}"
                }
              },
              "github-oauth": {
                "github.com": "${{ secrets.ACTIONS_TOKEN }}"
              }
            }'
        run: |
          /home/runner/.composer/vendor/bin/mage deploy ${{ steps.environment.outputs.target }} -vvv
      - name: Archive Logs
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: logs
          path: .mage/logs
