name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-versions:
          - '7.4'

    steps:
      - uses: actions/checkout@v1

      - uses: shivammathur/setup-php@v1 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: pcov

      - name: php --version
        run: php --version

      - name: composer --version
        run: composer --version

      - name: (COMPOSER) Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction

      - name: (CGL) PHP
        run: composer t3g:cgl

      - name: (TEST) Run unit tests
        run: composer t3g:test:php:unit

      - name: Yarn install
        run: yarn install --silent

      - name: Yarn build
        run: yarn build

      - name: (TEST) Run functional tests
        run: composer t3g:test:php:functional
